
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Biography</a> -->
    
  <nav class="navMenu">
    <a class="nav-item nav-link active" href="/"> Home </a>
    <a href="/about">  About </a>
    <a href="/works"> Works </a>
    <div class="dot"></div>
  </nav>