<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
<h1>Tim McIlrath</h1>
<p>Timothy "Tim" James McIlrath es el guitarrista y cantante de la banda estadounidense de punk rock Rise Against. Es straight edge, vegetariano y apoya los derechos de los animales, promoviendo activamente la organización PETA con su banda.​</p>    
</body>
</html>